body {
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: white;
}

.calculator{
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(17, 19, 18)
}

button{
  font-size: 14px;
  text-decoration: ;
  color: white;
  background-color: gray;
  margin: 20px;
  width: 68px;
  height: 68px;
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgb(red, green, blue);
}

.total :hover {
  color: lawngreen;
  background-color: skyblue ;
}

input{
  width:100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 30px;
  color: white;
  background-color: grey;
}

.signs{
  background-color: orange;
  color:white;
}
.main{
  border-radius: 10px;
  size: 60px;
  width: 150px;
}

